/* здесь используйте глобальные селекторы img, body, html и так далее */
body {
  font-family: $lato;
  color: $base-color-text;
  font-weight: 400;
  background-color: #ffffff;
  width: $mobile-width-only;
  margin: 0 auto;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

@media (min-width: $tablet-width) {
  body {
    width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  body {
    width: $desktop-width;
  }
}
