.button {
  font-family: $oswald;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $button-color-text;
}

.button--grey {
  background-color: #f2f2f2;
  color: #444444;
}

.main-nav__burger {
  width: 24px;
  height: 24px;
  border: none;
  padding: 0;
  background-color: $button-background-white;
}
