.hero {
  width: 100%;
  font-family: $oswald;
  font-size: 14px;
  line-height: 14px;
  color: $base-color-text-black;
  position: relative;
  min-height: 480px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  // @media (min-width: $desktop-width) {
  // }
}

.hero__wrapper {
  padding-bottom: 0;
  position: relative;


  @media (min-width: $tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
    padding-right: 331px;
    display: flex;
  }
}

@media (min-width: $tablet-width) {
  .hero__button-container {
    position: absolute;
    top: 300px;
  }
}

.hero__container-lead {
  width: 100%;
  min-height: 302px;
  background:
    linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
    url("../../images/index-background-desktop-mobile@2x.png");
  background-size: 320px 302px;
  padding-top: 27px;
  color: #ffffff;

  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.hero__button-container {
  position: absolute;
  top: 390px;
  left: 180px;
}

.hero__lead {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  margin: 0;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    text-align: center;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    line-height: 60px;
    text-align: center;
    margin-top: 0;
  }
}

.hero__tagline {
  text-align: center;
  margin: 0;
}


.hero__picture {
  z-index: 2;
  position: absolute;
  top: 167px;
  left: 20px;
}

.hero__button {
  width: 280px;
  margin: 0 20px;
  margin-top: 138px;
}
